@page {
  size: 13in 8.5in;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5px;
  width: 100%;
  padding: 5mm;
}

.first-column {
  grid-column: 1 / 2;
}

.second-column {
  grid-column: 2 / 3;
}
@page {
  size: 13in 8.5in;
  margin: 0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  padding: 10px;
}

.header_report {
  padding: 10px;
  margin: 0;
  text-align: center;
}

.first-column,
.second-column {
  padding: 3mm;
}

.first-column {
  grid-column: 1 / 2;
}

.second-column {
  grid-column: 2 / 3;
}

.title_report {
  color: #111;
  font-size: 5rem;
  font-weight: bold;
  margin: 0;
}

.subtitle_container {
  padding: 5px;
  background-color: #621333;
}

.subtitle_report {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
}

th {
  background: #f3f3f3;
}

table,
.section {
  break-inside: avoid;
  page-break-inside: avoid;
}

canvas {
  width: 100% !important;
}

.header_report {
  padding: 10px;
  text-align: center;
  margin: 0;
}

.title_report {
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

.subtitle_container {
  padding: 5px;
  background-color: #621333;
}

.subtitle_report {
  font-size: 12px;
  font-weight: bold;
  color: white;
  margin: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
  font-size: 12px;
}

th {
  background: #f3f3f3;
}

table,
.section {
  break-inside: avoid;
  page-break-inside: avoid;
}

canvas {
  width: 100% !important;
}
